rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, update, delete: if isSignedIn() && request.auth.uid == userId;
      allow create: if isSignedIn();
    }

    match /clients/{clientId} {
      allow read, list: if isSignedIn() && request.query.where.get("userId", "") == request.auth.uid;
      allow write: if isSignedIn() && request.resource.data.userId == request.auth.uid;
    }
    match /corretores/{corretorId} {
      allow read, list: if isSignedIn() && request.query.where.get("userId", "") == request.auth.uid;
      allow write: if isSignedIn() && request.resource.data.userId == request.auth.uid;
    }
    match /developments/{developmentId} {
      allow read, list: if isSignedIn() && request.query.where.get("userId", "") == request.auth.uid;
      allow write: if isSignedIn() && request.resource.data.userId == request.auth.uid;
    }
    match /sales/{saleId} {
      allow read, list: if isSignedIn() && request.query.where.get("userId", "") == request.auth.uid;
      allow write: if isSignedIn() && request.resource.data.userId == request.auth.uid;
    }
  }
}
