rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, update, delete: if isSignedIn() && isOwner(userId);
      allow create: if isSignedIn();
    }

    match /clients/{clientId} {
      // Allow reading a single document if the user is the owner.
      allow read: if isSignedIn() && resource.data.userId == request.auth.uid;
      // Allow listing documents only if the query is filtered by the user's ID.
      allow list: if isSignedIn() && request.query.where.get('userId', '') == request.auth.uid;
      // Allow creating, updating, or deleting if the user is the owner.
      allow create, update, delete: if isSignedIn() && request.resource.data.userId == request.auth.uid;
    }
    match /corretores/{corretorId} {
      allow read: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow list: if isSignedIn() && request.query.where.get('userId', '') == request.auth.uid;
      allow create, update, delete: if isSignedIn() && request.resource.data.userId == request.auth.uid;
    }
    match /developments/{developmentId} {
      allow read: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow list: if isSignedIn() && request.query.where.get('userId', '') == request.auth.uid;
      allow create, update, delete: if isSignedIn() && request.resource.data.userId == request.auth.uid;
    }
    match /sales/{saleId} {
      allow read: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow list: if isSignedIn() && request.query.where.get('userId', '') == request.auth.uid;
      allow create, update, delete: if isSignedIn() && request.resource.data.userId == request.auth.uid;
    }
  }
}
